:root {
    --bg-color: rgb(10, 10, 23);
    --color-1: rgb(10, 0, 10);
    --color-2: rgb(0, 10, 10);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

    background-color: var(--bg-color);
}

.articles::-webkit-scrollbar {
    display: none;
}

.articles {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

article {
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    scroll-snap-align: start;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    color: white;
}

article.article-1 {
    background-color: var(--color-1);
}

article.article-2 {
    background-color: var(--color-2);
}
